@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body, html{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.hero-banner{
    background-color: rgb(53, 79, 228);
    height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
h4{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
.hero-banner h1{
    color: white;
    font-weight: 800;
    font-size:50px; 
    margin: 14px 0 20px;
}
.hero-banner h3{
    color: white;
    margin: 0,0,35px;  
}
.hero-banner h3{
    font-weight: bold;
    font-size: 30px;
}
a.cta,button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color:rgb(53, 79, 228); 
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0, 127, 255, .15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}
a.cta.alt,
button.cta.alt{
    color: black;
    background-color: #ffd400;
    box-shadow:0 0 0  10px rgba(0,0,0,.15);

}
nav{
    position:sticky ; top:0;
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2) ;
}
.logo{
    position: absolute; top: 50%; left: 0px;
    margin-left: 30px;
    margin-top: -20px;
    display:block;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
nav ul{
    padding: 0;
    margin: 0 20px 0 0;
}
nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}
nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 35px 10px;
    line-height: 30px;

}
.more-info{
    text-align: center;
}
.more-info h1{
    margin: 120px 0 0;
}
.more-info p{
    margin-bottom: 30px;
}
.gang-img{
    display: block;
    margin: 0 auto;
}
footer p{
    text-align: center;
    font-weight: bold;
    background-color:#ffd400 ;
    margin: 0;
    padding: 10px 10px;
    box-shadow: 0 -5px 8px rgba(0, 0, 0, .2) ;
    
}
.popup{
   /*display: none;*/
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.popup .blanket{
    background-color: rgba(0 0 0 .7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
.popup .content{
    box-sizing: border-box;
    padding: 30px 40px ;
    width: 660px;
    background-color: white;
    text-align: center;
    position: absolute;
    height: 580px;
    left: 50%;
    margin-left: -330px;
    top: 50%;
    margin-top: -290px;
}
.popup button.close{
    width: 80px;
    height: 50px;
    background-color: #ff3300;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    overflow: hidden;
    margin-top: -110%;
    margin-right: -110%;
}